<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @client.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<div class="container row">
  <table class="table mt-4 col-6">
  <thead class="thead-dark">
      <tr>
        <th>Pet</th>
        <th>Max weight</th>
        <th>Max height</th>
      </tr>
    </thead>
  
    <tbody>
      <% @client.pets.each do |pet| %>
          <tr>
          <td><%= pet.name %></td>
          <td><%= pet.max_weight %></td>
          <td><%= pet.max_height%></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
